@import 'tailwindcss';
@config '../tailwind.config.js';

@layer base {
  :root {
    color-scheme: light dark;
  }

  #root {
    @apply flex w-full flex-1 flex-col items-center justify-center;
  }

  body {
    @apply flex min-h-screen w-full flex-col items-center overflow-x-hidden;
    @apply font-sans;
    @apply bg-surface-950 text-primary-50;
    @apply px-2 py-4 sm:px-4;
  }

  a {
    @apply text-primary-400 no-underline;
    @apply font-medium;
  }

  a:hover {
    @apply text-primary-600;
  }
}
