@import 'tailwindcss';
@config '../tailwind.config.js';

@layer base {
  :root {
    color-scheme: light dark;
  }

  body {
    @apply flex min-h-screen min-w-320 items-center justify-center;
    @apply font-sans;
    @apply bg-primary-950 text-primary-50;
  }

  a {
    @apply text-primary-400 no-underline;
    @apply font-medium;
  }

  a:hover {
    @apply text-primary-600;
  }
}
